<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				<key>UISceneDelegateClassName</key>
				<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
			</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(APP_NAME) AI takes picture of the business card for profile creation or update</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(APP_NAME) needs access to your photo library to select documents for scanning</string>
	<key>NSMicrophoneInjectionUsageDescription</key>
	<string>$(APP_NAME) requires microphone access for voice prompts</string>
</dict>
</plist>
